body {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.github_result_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.github_result_container_clicked {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 5rem;
}

.searchBar {
  width: 30%;
  align-self: center;
  border: solid black 1px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.owner_card_details {
  position: fixed;
  bottom: 55vh;
  right: 55vh;
  border: solid black 1px;
  padding: 2em;
  border-radius: 15px;
}

.avatar {
  border-radius: 50%;
  width: 5rem;
  margin: 1em;
  background-color: white;
}

.result_card {
  display: flex;
  margin: 1em;
  align-items: center;
  border: solid black 1px;
  border-radius: 15px;
  width: 20rem;
}

.result_card:hover {
  background-color: black;
  color: white;
}

.Github_Result_Container {
  display: flex;
  justify-content: space-around;
}

.Search_Result_Container {
  width: 70%;
}

.owner_Card_Container {
  width: 30%;
}

.owner_avatar {
  width: 100%;
}

.owner_card_content_container {
  text-align: center;
}
